---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro-imagetools/components";

const projects = [
  {
    siteName: 'Google Ads',
    link: 'https://ads.google.com',
    title: 'Go to ads.google.com',
    image: 'gads.png',
    copy: 'Devised the underlying framework that statically renders native Web Components at build time, allowing for an encapsulated workflow and uniform design across sites under the same umbrella. Also, assisted in the general oversight and helping out other globally located developers.',
  },
  {
    siteName: 'Google for Small Business - 2019',
    link: 'https://blog.google/outreach-initiatives/small-business/google-for-small-business/',
    title: 'Blog page for the original launch of Google for Small Business',
    image: 'g4sb.png',
    copy: 'Originally launched in 2019, localized in multiple countries/languages, and featured in several online publications. As one of only three developers we built an app-like experience, where using user input and google maps data produced personalized product offerings. Created using almost 40 statically rendered page sections and AngularJS for interactivity.'
  },
  {
    siteName: 'Elevance Health: 2022 Annual Report',
    link: 'https://www.elevancehealth.com/annual-report/2022/',
    title: 'Go to Elevance Healths 2022 annual report',
    image: 'elevance.png',
    copy: 'Full site rebuild in Nuxt, including a Report Builder that stitches together individual pdf sections together as a single pdf for download, with the main site code completed within two weeks.'
  }
]
---

<Layout title="Simon Attfield: Projects">
  <h1 class="text-almost-white text-6xl font-display mb-10">Projects</h1>
  {projects.map((project) => (
    <section class="mb-20">
      <a class="text-almost-white text-4xl underline underline-offset-8 hover:no-underline mb-10 inline-block" href={project.link} title={project.title} target="_blank" rel="noopener noreferrer">{project.siteName}</a>
      <Picture src={`/images/${project.image}`} alt="" format={["avif", "webp", "jpg"]} quality={80} loading="lazy" />
      <p class="text-light-purple my-5 text-lg">{project.copy}</p>
    </section>
  ))}
</Layout>
